@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 6% 95%;
    --foreground: 0 5% 10%;
    --card: 0 6% 90%;
    --card-foreground: 0 5% 15%;
    --popover: 0 6% 95%;
    --popover-foreground: 0 95% 10%;
    --primary: 0 77% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 10% 85%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 10% 85%;
    --muted-foreground: 0 5% 35%;
    --accent: -38 10% 80%;
    --accent-foreground: 0 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 20% 50%;
    --input: 0 20% 20%;
    --ring: 0 77% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 10% 10%;
    --foreground: 0 5% 90%;
    --card: 0 6% 10%;
    --card-foreground: 0 5% 90%;
    --popover: 0 10% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 77% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 10% 20%;
    --muted-foreground: 0 5% 60%;
    --accent: -38 10% 20%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 20% 20%;
    --input: 0 20% 20%;
    --ring: 0 77% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    @apply size-3;
  }
  ::-webkit-scrollbar-track {
    @apply bg-foreground/10 rounded-full;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-foreground/30 rounded-full;
  }
}
